body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    transition: all 0.3s ease;
}

.container {
    margin-top: 40px;
}

/* Título principal */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

/* Estilo de la tarjeta de formación */
.formacion-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formacion-card {
    position: relative;
    transition: all 0.3s ease;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.formacion-card:hover {
    z-index: 10;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.formacion-card img {
    width: 100%;
    border-radius: 5px;
}

/* Estilo del contenido dentro de las tarjetas */
.card-body {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card-body h5 {
    font-size: 1.6rem;
    color: #333;
}

.fecha {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    color: #aaa;
}

.fecha span {
    display: block;
}
