/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Estilo para los bloques de contenido */
.content-block {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.content-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content-block img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Estilo de la descripción de texto */
.content-block .text {
    padding-left: 20px;
}
.card-body {
    height: 500px; /* Ajusta el valor según la altura que desees */
    overflow-y: auto; /* Añade barra de desplazamiento si el contenido excede la altura */
}


/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .content-block img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .content-block .text {
        padding-left: 0;
    }
}

/* Estilo para el movimiento de texto (marquee) */
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Animación para mover el texto de derecha a izquierda */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
